@model fiapweb2020.core.Models.Pessoa




<h1>Hello @ViewData["Nme"] </h1>
<h2>@ViewBag.NomeDaAula</h2>
<h2>@Model.Nome</h2>
 
<email mail-to="cadu"></email>

<br />
<img src="~/giphy.webp" asp-append-version="true" />


@*@foreach (var item in Model.Produtos)
{
    @await Html.PartialAsync("_Detalhe", item)

}*@



@*@section Footer{ 
    <div>Meu footer</div>
}*@


<vc:noticias noticias-urgents="true" total-de-noticias="5"></vc:noticias>