<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />


    <environment include="Development">
        <link href="~/css/jcarousel.basic.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/images/paises.sprite.css" />
    </environment>
    <environment exclude="Development">
        <link href="~/css/bundle.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>





</head>
<body>

    <header>
        @*@Html.Partial("_Menu")

            @await Html.PartialAsync("_Menu")*@

        <partial name="_menu" />
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Fiap - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @RenderSection("Footer", required: false)


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/jquery.jcarousel.js"></script>
    <script src="~/js/jquery.lazy.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>
