@model List<fiapweb2020.core.Models.Noticia>

<ul>
    @foreach (var item in Model)
    {
        <li style="background-color:#ffecf0">
            <a href="@item.Link"> @item.Titulo</a>
        </li>
    }
</ul>