@*@model fiapweb2020.Controllers.Pessoa*@

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/modulo/index">Modulo</a></li>
        </ul>
    </nav>

    <h1>Teste @ViewData["Nme"] </h1>

    <h2>@ViewBag.NomeDaAula</h2>

</body>
</html>